<div style="width: 30%; padding: 4rem">
    
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#snap"></use>
        </svg>
      </div>
      <div class="medio__body">
        <h3 class="medio__title">Easy Start & Manage</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque libero sequi iste cupiditate assumenda numquam modi! Laborum sed eum nisi.</p>
      </div>
    </div>
   
  </div>