<blockquote class="quote">
    <p class="quote__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis cumque voluptas officia voluptatum alias nesciunt quo est quaerat non velit.</p>
    <footer>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary quote__line">
            <use xlink:href="images/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="medio__body">
          <h3 class="medio__title quote__author">John Smith</h3>
          <p class="quote__organizarion">ABC Company</p>
        </div>
      </div>
    </footer>
  </blockquote>